snippet eg "Get environemt variable"
os.environ.get('${0:${VISUAL:ENV_VAR}}')
endsnippet

snippet clat "Create a Test Class"
class ${1:TestThisCode}(TestCase):

	def test_${2:first_things_first}(self):
		${3:pass}
endsnippet
